*{
    margine: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    gap: 232.5px;
}


.list ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}
.icons ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}